:root {
    /* Colors */
    --background-color: #f7edda;
    --orange: #f17a5e;
    --violet: #7b3b8b;
    --lightblue: #41d5b8;
    --white: #fff;
    --black: #000;
    --whatsApp-color: #25d366;
    --facebook-color: #4267b2;
    --linkedIn-color: #0072b1;

    /* Fonts */
    --mainFont: "Montserrat", sans-serif;
    --secondaryFont: "Ubuntu", sans-serif;
    --thirdFont: "Mansalva", cursive;

    /* Mobile */
    --mobile-text-size: 16px;
    --mobile-title-size: 30px;
    --mobile--subtitle-size: 25px;

    /* Tablet */
    --tablet-text-size: 20px;
    --tablet-title-size: 40px;
    --tablet--subtitle-size: 30px;

    /* Desktop */
    --desktop-text-size: 23px;
    --desktop-title-size: 45px;
    --desktop-subtitle-size: 35px;

    /* Desktop XL*/
    --desktopXl-text-size: 26px;
    --desktopXl-title-size: 48px;
    --desktopXl-subtitle-size: 38px;
}
.bodyActividades {
    background-color: var(--white);
}
.accordion-button {
    background-color: var(--lightblue);
    font-family: var(--thirdFont);
    text-transform: uppercase;
    font-size: 12px;
    box-shadow: none;
    font-weight: 600;
}
.accordion-button:not(.collapsed) {
    color: var(--black);
    background-color: var(--lightblue);
    border: none;
    box-shadow: none;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    fill: var(--black);
}
.accordion-body {
    background-color: var(--background-color);
}
.violet {
    background-color: #ada8b6;
}
.creamBg {
    background-color: var(--background-color);
}
.backImgActividades{
    background-image: url("https://i.postimg.cc/d392z70P/286237102-1232047897535020-1415191494195911565-n-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.underlined {
    padding: 2px 5px;
    background-color: #816797;
    color: white;
}
.textWhite {
    color: var(--white);
}

/* Hero section */

.heroContainer{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-block: 30px;
}
.actividades__title{
    margin: 0;
    color: white;
    font-family: var(--thirdFont);
    text-align: center;
}

/* Accordion items */
.accordionItem__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.accordionItem__img {
    object-fit: contain;
    max-width: 400px;
    max-height: 400px;
}

.accordionItem__title {
    margin-top: 20px;
    font-family: var(--thirdFont);
    font-size: 24px;
}
.accordionItem__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.itemAccordion__ctaBtn {
    width: 140px;
    height: 40px;
    background: #f2914a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: var(--thirdFont);
    margin-bottom: 20px;
    border: none;
}

.italic {
    font-style: italic;
    font-weight: 300;
}
