/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Variables */
:root {

	/* Colors */
	--background-color: #f7edda;
	--orange: #f17a5e;
	--violet: #7b3b8b;
	--lightblue: #41d5b8;
	--white: #fff;

	/* Fonts */
	--mainFont: "Montserrat", sans-serif;
	--secondaryFont: "Ubuntu", sans-serif;
}

/* Body styles*/
body {
	font-family: var(--mainFont);
	background-color: var(--background-color);
}

/* NavBar styles */
.nav {
	height: 64px;
	width: 100%;
	background-color: var(--violet) !important;
}

.nav__container {
	display: flex;
}

.nav__img {
	margin-left: 40px;
}

.nav__ulContainer {
	display: flex;
	background-color: var(--violet);
	width: 100% !important;
	max-height: 100%;
}

.nav__toggler {
	margin-right: 20px;
	border-radius: 1px solid var(--white);
}
.navbar-toggler-icon {
	fill: var(--white) !important;
}

.nav__ul {
	width: 95%;
	display: flex;
	gap: 70px;
	justify-content: flex-end;
}

.nav-item {
	cursor: pointer;
}

.nav-item:hover {
	transition: 0.3s;
	transform: translateX(5px);
	cursor: pointer;
}

.nav-link {
	color: var(--white);
	font-family: var(--secondaryFont) !important;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 22px;
	font-size: 18px;
}

.nav-link:hover {
	color: var(--white);
	font-family: var(--secondaryFont) !important;
	cursor: pointer;
}

.active {
	color: var(--white) !important;
	font-weight: 800;
}

/* Responsive: Horizontal Tablet & Notebooks */
@media (min-width: 993px) and (max-width: 1440px) {
	.nav__ul {
		gap: 20px;
	}
	.nav-link {
		font-size: 16px;
		line-height: 20px;
	}
} 

/* Responsive: Horizontal Mobile & Vertical Tablet */
@media (min-width: 601px) and (max-width: 992px) {
	.nav__ul {
		gap: 20px;
	}
	.nav-link {
		font-size: 16px;
		line-height: 20px;
	}
}

/* Responsive: Vertical Mobile */
@media (max-width: 600px) {
	.nav__img {
		margin-left: 20px;
	}
	.nav__ul {
		padding: 20px 30px;
		width: 95%;
		display: flex;
		gap: 2px;
		justify-content: flex-end;
	}

	.nav-link {
		color: var(--white);
		font-family: var(--secondaryFont) !important;
		text-transform: none;
		font-weight: 500;
		line-height: 22px;
		font-size: 20px;
		cursor: pointer;
	}
}
