.banner {
  height: 50vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../IMG/espacios-banner.png");
  background-color: #ccc;
  background-position: top;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 1rem 3rem 1rem;
  max-height: 500px;
}

.banner__text {
  font-family: var(--displayFont);
  font-size: var(--title-size);
  text-align: center;
}

/* Article One */
.articleOne__coworking {
  margin-bottom: 2rem;
}

.article__tag {
  background-color: var(--lightblue);
  font-family: var(--displayFont);
  font-size: var(--subtitle-size);
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  margin-left: -1rem;
}

.article__titleContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
}

.article__title {
  font-family: var(--displayFont);
  font-size: var(--title-size);
  text-align: center;
  position: absolute;
  z-index: 1;
}

.article__titleUnderlineOrange,
.article__titleUnderlineViolet {
  font-family: var(--displayFont);
  font-size: var(--title-size);
  text-align: center;
  text-decoration: line-through;
  text-decoration-thickness: 10px;
  color: transparent;
  user-select: none;
  margin-top: 10px;
  position: absolute;
}

.article__titleUnderlineViolet {
  text-decoration-color: var(--violetSecond);
}

.article__titleUnderlineOrange {
  text-decoration-color: var(--orange);
}

.article__subTitleOrange,
.article__subTitleViolet {
  font-family: var(--mainFont);
  font-size: var(--subtitle-size);
  text-align: center;
  padding: 0.5rem 2rem;
  font-weight: 600;
  color: var(--white);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  width: fit-content;
}

.article__subTitleOrange {
  background-color: var(--orange);
}

.article__subTitleViolet {
  background-color: var(--violet);
}

.features__list {
  list-style-type: initial;
  padding: 0 2rem;
  margin: 2rem 0;
  font-size: var(--text-size);
}

.features__listItem {
  margin-bottom: 0.5rem;
}

.features__colored {
  background-color: var(--violetSecond);
  color: var(--white);
  padding: 0 4px;
}

.articleOne__ourSpaces {
  margin-top: 4rem;
}

.ourSpaces__cardsContainer {
  gap: 3rem;
  align-items: top;
  justify-content: center;
}

.ourSpaces__card {
  max-width: 400px;
}

.ourSpaces__wrapper {
  position: relative;
}

.card__title {
  background-color: var(--orangeSecond);
  font-family: var(--monoFont);
  font-size: var(--subtitle-size);
  width: fit-content;
  padding: 0.5rem 2rem;
  position: absolute;
  rotate: -6deg;
  font-weight: 600;
}

.card__contentContainer {
  padding: 0 2rem;
}

.card__image {
  width: 100%;
}

.card__paragraph {
  margin-top: 1rem;
}

.articleOne__beneficios {
  margin-top: 3rem;
}

/* Accordion */
.accordion {
  width: 100%;
}
.accordion-item {
  margin-top: 1rem;
  background-color: var(--lightblue);
}
.accordion-button {
  background-color: var(--lightblue);
  font-family: var(--monoFont);
  text-transform: uppercase;
  font-size: var(--text-size);
  box-shadow: none;
  font-weight: 600;
  height: 14px;
  padding: 1.5rem 1rem;
  gap: 4px;
}
.accordion-button:not(.collapsed) {
  color: var(--black);
  background-color: var(--lightblue);
  border: none;
  box-shadow: none;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
  fill: var(--black);
}
.accordion-body {
  background-color: var(--background-color);
}

/* Accordion items */
.accordionItem__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.divider {
  border-top: solid 1px rgba(0, 0, 0, 0.3);
  padding-top: 2rem;
}

.accordionItem__stepTitle {
  height: 3rem;
  font-size: var(--subtitle-size);
}

.accordionItem__stepTitle > h5 {
  font-size: var(--subtitle-size);
}

.accordionItem__stepText {
  text-align: center;
}
/* 
.accordionItem__img {
  object-fit: contain;
  max-width: 300px;
  max-height: 400px;
}

.accordionItem__title {
  margin-top: 20px;
  font-family: var(--monoFont);
  font-size: 24px;
}
.accordionItem__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.itemAccordion__ctaBtn {
  width: 140px;
  height: 40px;
  background: #f2914a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: var(--monoFont);
  margin-bottom: 20px;
  border: none;
} */

/* Article Two */
.articleTwo__section {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-text {
  font-size: 0.8rem;
}

.cta-button,
.cta-buttonMini {
  margin: 0 auto;
  background-color: var(--orangeSecond);
  color: var(--black);
  font-family: var(--secondaryFont);
  padding: 1rem 3rem;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.cta-buttonMini {
  padding: 0.5rem 4rem;
}

.cta-button:hover,
.cta-buttonMini:hover {
  color: var(--black);
  opacity: 0.6;
  transition: 0.2s;
}

/* Article Tree */

.articleTree__section {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.trabajoColaborativo__imageContainer {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.trabajoColaborativo__image {
  width: 100%;
  max-width: 900px;
}

/*******************************************************************/
/* Media Querys - Responsive Breakpoints */
/*******************************************************************/

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for 'xs' since this is the default in Bootstrap */

/********/ /* Small devices (landscape phones, 576px and up) */ /********/
@media (min-width: 576px) {
  /* Article One */
  .article__titleContainer {
    height: 70px;
  }

  /* Accordion */
  .accordionItem__stepTitle {
    height: 3rem;
  }
}

/********/ /* Medium devices (tablets, 768px and up) */ /********/
@media (min-width: 768px) {
  .article__subTitleOrange {
    font-size: var(--text-size);
    margin-top: 2rem;
  }
  /* Article One */
  .article__titleContainer {
    height: 100px;
    margin: 0 1rem;
  }
  .articleOne__wrapper {
    margin-top: 3rem;
  }

  /* Accordion */
  .accordionItem__stepTitle {
    height: 3rem;
  }
}

/********/ /* Large devices (desktops, 992px and up) */ /********/
@media (min-width: 992px) {
  /* Article One */
  .article__titleContainer {
    height: 120px;
    margin: 0 1rem;
  }
  .articleOne__paragraph {
    padding-right: 2rem;
  }
  .articleOne__beneficios {
    margin-top: 4rem;
  }

  /* Accordion */
  .accordionItem__stepTitle {
    height: 3.5rem;
  }
}

/********/ /* Extra large devices (large desktops, 1200px and up) */ /********/
@media (min-width: 1200px) {
  /* Article One */
  .article__titleContainer {
    height: 130px;
    margin: 0 3rem;
  }
  .card__contentContainer {
    height: 500px;
  }
  .articleOne__beneficios {
    margin-top: 6rem;
  }

  /* Accordion */
  .accordionItem__stepTitle {
    height: 4rem;
  }
}
