/* _articleOne Styles */
._articleOne {
    margin: 3rem 0;
}

._articleOne__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._articleOne__text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 2.5rem;
}

._articleOne__image {
    max-width: 700px;
    width: 100%;
    height: auto;
}

._articleOne__button {
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

._articleOne__button:hover {
    color: var(--white);
    opacity: 0.6;
    transition: 0.2s;
}

/* _articleTwo Styles */
._carousel__arrowLeft {
    padding-right: 6rem;
}

._carousel__arrowRight {
    padding-left: 6rem;
}

/* _articleTree Styles */
._articleTree {
    align-items: center;
}

._articleTree__title {
    font-family: var(--displayFont);
    font-size: 40px;
    background-color: var(--lightblue);
    width: fit-content;
    padding: 0 2rem;
}

._articleTree__text {
    font-size: 20px;
}

._articleTree__cardsContainer {
    margin-top: 3rem;
    justify-content: center;
}

._articleTree__card {
    padding: 1rem;
}

._articleTree__cardWrapper {
    background-color: var(--violet);
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;

    transition: all 0.6s;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

._card__descriptionContainer {
    padding: 2rem;
    width: fit-content;
}

._card__titleContainer {
    background-color: var(--orange);
    width: 100%;
    margin-top: -4rem;
    margin-bottom: 2rem;
    padding: 0.5rem 0rem;
    transform: rotate(-6deg);
}

._card__title {
    text-align: center;
    font-size: 20px;
}

._card__text {
    width: fit-content;
    color: var(--white);
}

._card__imgage {
    width: 100%;
}

/* _articleFour Styles */
._articleFour {
    display: flex;
    flex-direction: column;
    align-items: center;
}

._upperSection__title {
    color: var(--white);
    background-color: var(--orange);
    transform: rotate(-6deg);
    width: fit-content;
    padding: 0.5rem 3rem;
    margin-top: 2rem;
    margin-left: 5rem;
}

._upperSection__imgage {
    max-width: 100vw;
}

._upperSection__imgageContainer {
    margin-top: -8rem;
}

._upperSection__text {
    text-align: center;
    max-width: 50vw;
}

._upperSection__cta {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

._upperSection__ctaButton {
    margin: -6rem 2rem 8rem 2rem;
    padding: 1rem 2rem;
    background-color: var(--violet);
    color: var(--white);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
._bottomSection__text {
    text-align: center;
    font-size: 20px;
    max-width: 750px;
}

._bottomSection__ovejasContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

._ovejasContainer__background {
    height: 10vh;
    width: 100%;
    background-color: var(--lightblue);
    position: absolute;
    top: 250px;
    left: 50px;
    z-index: -10;
}

.ovejasContainer__decoration {
    position: absolute;
    top: 0px;
    left: 100px;
}

.ovejasContainer__oveja1 {
    position: absolute;
    left: 100px;
    top: 80px;
}

.ovejasContainer__oveja2 {
    visibility: hidden;
}

.ovejasContainer__oveja3 {
    visibility: hidden;
}

/*****************************/
/* _articleFour Styles */
._articleFive {
    background-color: var(--white);
    width: 100vw;
    background-image: url("../IMG/testimonios-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    padding: 3rem 0;
}

._articleFive__title {
    font-family: var(--displayFont);
    font-size: 40px;
    background-color: var(--lightblue);
    width: fit-content;
    padding: 0 2rem;
}

.card {
    background-color: transparent;
    border: none;
    background-image: url("../IMG/testimonio-bg.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 50vw;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content {
    width: 55%;
    rotate: -4.5deg;
    margin-top: 2rem;
}
.card-text {
    text-align: center;
}
.swiper-btn-prev {
    color: var(--black);
    left: -2px;
}

.swiper-btn-next {
    color: var(--black);
    right: -2px;
}

.swiper-container {
    max-width: 460px;
    display: flex;
    margin-top: 4rem;
}
/*******************************************************************/
/* Media Querys - Responsive Breakpoints */
/*******************************************************************/

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for 'xs' since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    ._upperSection__impactContainer {
        margin-top: 15rem;
    }

    ._upperSection__textContainer {
        margin-top: 10vw;
    }
    .card {
        height: 40vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    ._articleTree__cardWrapper {
        flex-direction: row;
    }

    ._articleFour__upperSection {
        height: 75vw;
        margin-bottom: 1rem;
    }

    ._articleFour__bottomSection {
        margin-top: 10rem;
        height: 400px;
    }

    ._upperSection__impactContainer {
        margin-top: 3rem;
    }
    .swiper-container {
        max-width: 900px;
    }
    .card {
        height: 30vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    ._articleTree__cardWrapper {
        flex-flow: column wrap;
    }

    ._articleTree__title {
        font-size: 60px;
    }

    ._articleTree__text {
        font-size: 25px;
    }

    ._articleFour__upperSection {
        height: 62vw;
        margin: 0;
    }

    ._bottomSection__text {
        text-align: left;
    }

    ._ovejasContainer__background {
        height: 10vh;
        width: 100%;
        background-color: var(--lightblue);
        position: absolute;
        top: 100px;
        left: 50px;
        z-index: -10;
    }

    .ovejasContainer__decoration {
        position: absolute;
        top: -100px;
        left: 150px;
    }

    .ovejasContainer__oveja1 {
        position: absolute;
        left: 100px;
    }

    .ovejasContainer__oveja2 {
        position: absolute;
        width: 250px;
        left: 500px;
        top: 40px;
        visibility: hidden;
    }

    .ovejasContainer__oveja3 {
        position: absolute;
        width: 150px;
        left: 380px;
    }
    ._articleFive__title {
        font-size: 60px;
    }
    .card {
        height: 25vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .swiper-container {
        max-width: 100%;
    }
    .card {
        height: 20vw;
        max-height: 300px;
    }
    .ovejasContainer__oveja2 {
        visibility: visible;
    }
}
