/* Article One */
._articleOne {
  margin: 3rem 0;
}

._articleOne__textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

._articleOne__text {
  font-size: var(--subtitle-size);
  text-align: center;
  margin-bottom: 2rem;
  line-height: 2rem;
}

._articleOne__imageContainer {
  display: flex;
  justify-content: center;
}

._articleOne__image {
  width: 100%;
  height: auto;
}

._articleOne__button {
  margin: 0 auto;
  padding: 1rem 3rem;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 20px;
  font-size: var(--text-size);
  font-weight: 600;
  text-align: center;
}

._articleOne__button:hover {
  color: var(--white);
  opacity: 0.6;
  transition: 0.2s;
}

/* Article Two */
._articleTwo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.postIg__initial {
  display: flex;
  width: 0px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.postIg__mobile {
  display: block;
  width: 98vw;
  position: relative;
}

.postIg__tablet {
  display: none;
  width: 98vw;
  position: relative;
}

.postIg__desktop {
  display: none;
  width: 98vw;
  position: relative;
}

.postIg__marcaAgua {
  width: 100%;
  height: 50px;
  background-color: var(--background-color);
  position: absolute;
  bottom: 0;
  z-index: 1;
}

/* Article Tree */
._articleTree__title {
  font-family: var(--displayFont);
  font-size: var(--title-size);
  background-color: var(--lightblue);
  width: fit-content;
  padding: 0 0.5rem;
}

._articleTree__text {
  font-size: var(--text-size);
}

._articleTree__cardsContainer {
  margin-top: 2rem;
  gap: 3rem;
}

._articleTree__card {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

._articleTree__card:hover {
  cursor: pointer;
  margin-top: 1rem;
  /* box-shadow: 0px 0px 15px 5px rgba(110, 27, 140, 0.3); */
  outline: solid 6px var(--violet);
  transition: all 0.2s;
}

._card__imgage {
  width: 100%;
}

._card__descriptionContainer {
  background-color: var(--violet);
  padding: 1rem;
}

._card__titleContainer {
  background-color: var(--orange);
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0.5rem;
  transform: rotate(-6deg);
}

._card__title {
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-size: var(--text-size);
  font-family: var(--monoFont);
  letter-spacing: -1px;
  font-weight: 600;
  margin-top: 4px;
}

._card__text {
  width: fit-content;
  color: var(--white);
  font-size: var(--text-size);
}

/* Article Four */
.orangeTitle {
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--displayFont);
  font-size: var(--title-size);
  padding: 5px 2rem;
  width: fit-content;
  rotate: -6deg;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

._articleFour__impacto {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0 4rem 0;
}

.impacto__bg {
  background-image: url("../IMG/remarcado-circulo-gestual3.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.impacto__number {
  font-family: var(--displayFont);
  font-size: calc(var(--title-size) * 1.5);
  color: var(--orange);
  margin-bottom: -15px;
}

.impacto__text {
  font-size: var(--text-size);
  font-family: var(--secondaryFont);
}

._articleFour__ctaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

._articleFour__ctaButton {
  background-color: var(--violet);
  color: var(--white);
  text-transform: uppercase;
  padding: 10px 2rem;
  text-align: center;
  font-weight: 600;
  font-size: var(--text-size);
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

._articleFour__ctaButton:hover {
  color: var(--white);
  opacity: 0.6;
  transition: 0.2s;
}

/* Article Five */
._articleFive {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

._articleFive__textContainer {
  margin-bottom: 2rem;
  padding: 0;
}

._articleFive__sheepContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

._articleFive__sheepWrapper {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

._articleFive__sheepImg {
  width: 40vw;
  z-index: 2;
}

._articleFive__sheepBg1 {
  position: absolute;
  width: 70vw;
  max-width: 500px;
  z-index: 1;
}

._articleFive__sheepBg2 {
  position: absolute;
  width: 90vw;
  max-width: 600px;
  background-color: var(--lightblue);
  height: 10vh;
  bottom: 20px;
}

/* Article Six */
._articleSix {
  background-color: var(--white);
  background-image: url("../IMG/new-testimonios-bg.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 50% 100%;
  width: 100vw;
  height: auto;
  padding: 3rem 0;
}

._articleSix__title {
  font-family: var(--displayFont);
  font-size: var(--title-size);
  background-color: var(--lightblue);
  width: fit-content;
  padding: 0 0.5rem;
}

.card {
  background-image: url("../IMG/testimonio-bg.png");
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: center;
  background-color: transparent;
  border: none;
  height: 70vw;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  width: 70%;
  rotate: -4.5deg;
}

.card-text {
  text-align: center;
  font-size: 14px;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--black);
  opacity: 0.3;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-container {
  max-width: 400px;
  margin-top: 4rem;
  padding: 0 24px;
}

/*******************************************************************/
/* Media Querys - Responsive Breakpoints */
/*******************************************************************/

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for 'xs' since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Article One */
  ._articleOne__image {
    max-width: 500px;
  }

  /* Article Two */
  .postIg__mobile {
    display: block;
  }
  .postIg__tablet {
    display: none;
  }
  .postIg__desktop {
    display: none;
  }

  /* Article Tree */
  ._card__titleContainer {
    transform: rotate(-4deg);
  }
  ._card__title {
    font-size: var(--subtitle-size);
  }
  ._card__descriptionContainer {
    padding: 1.5rem 2rem 1rem 2rem;
  }

  /* Article Six */
  ._articleSix {
    background-size: 110%;
    background-position: 40% -20%;
  }
  .card {
    height: 40vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Article Two */
  .postIg__mobile {
    display: none;
  }
  .postIg__tablet {
    display: block;
  }
  .postIg__desktop {
    display: none;
  }

  /* Article Tree */
  ._articleTree__cardsContainer {
    margin-top: 6rem;
    gap: 6rem;
  }
  ._articleTree__card {
    flex-direction: row;
    padding: 0;
    width: 100%;
    max-width: 800px;
    height: 300px;
  }
  ._rr {
    flex-direction: row-reverse;
  }
  ._card__imgageContainer {
    width: 50%;
  }
  ._card__imgage {
    height: 100%;
  }
  ._card__descriptionContainer {
    width: 50%;
  }

  /* Article Five */
  ._articleFive__sheepImg {
    width: 35vw;
  }
  ._articleFive__sheepBg1 {
    width: 47vw;
    max-width: 500px;
    top: 10px;
    left: 70px;
  }

  ._articleFive__sheepBg2 {
    width: 90vw;
    max-width: 585px;
    height: 15vh;
    bottom: 100px;
    left: 60px;
  }

  /* Article Six */
  ._articleSix {
    background-position: 40% -10%;
  }
  .swiper-container {
    max-width: 900px;
  }
  .card {
    height: 30vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Article One */
  ._articleOne__text {
    line-height: 2.5rem;
  }

  /* Article Two */
  .postIg__mobile {
    display: none;
  }
  .postIg__tablet {
    display: none;
  }
  .postIg__desktop {
    display: block;
  }

  /* Article Tree */
  ._articleTree__cardsContainer {
    margin: 3rem 0;
    gap: 2rem;
    height: 600px;
  }
  ._articleTree__card {
    flex-direction: column;
    width: 20vw;
    height: auto;
  }
  ._card__imgageContainer {
    width: 100%;
  }
  ._card__descriptionContainer {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
  }

  /* Article Four */
  ._articleFour__impacto {
    gap: 3rem;
  }
  .impacto__bg {
    width: 140px;
  }
  ._articleFour__ctaContainer {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  /* Article Five */
  ._articleFive__textContainer {
    padding-right: 1rem;
  }

  /* Article Six */
  ._articleSix {
    background-size: 100%;
    background-position: 40% 0%;
  }
  .card {
    height: 28vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Article One */
  ._articleOne__text {
    line-height: 2.7rem;
  }

  /* Article Two */
  .postIg__mobile {
    display: none;
  }
  .postIg__tablet {
    display: none;
  }
  .postIg__desktop {
    display: block;
  }

  /* Article Four */
  ._articleFour__impacto {
    gap: 4rem;
  }

  /* Article Six */
  ._articleSix {
    background-size: 90%;
    background-position: center top;
  }
  .swiper-container {
    max-width: 1200px;
  }
  .card {
    height: 20vw;
    max-height: 300px;
  }
}
