/* _articleOne Styles */
._articleOne {
  margin: 3rem 0;
}

._articleOne__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._articleOne__text {
  font-size: var(--subtitle-size);
  text-align: center;
  margin-bottom: 2rem;
  line-height: 2rem;
}

._articleOne__image {
  max-width: 700px;
  width: 100%;
  height: auto;
}

._articleOne__button {
  margin: 0 auto;
  padding: 1rem 3rem;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 20px;
  font-size: var(--text-size);
  font-weight: 600;
  text-align: center;
}

._articleOne__button:hover {
  color: var(--white);
  opacity: 0.6;
  transition: 0.2s;
}

/* _articleTwo Styles */
._articleTwo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.postIg__initial {
  display: flex;
  width: 0px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.postIg__mobile {
  display: block;
  width: 98vw;
  position: relative;
}

.postIg__tablet {
  display: none;
  width: 98vw;
  position: relative;
}

.postIg__desktop {
  display: none;
  width: 98vw;
  position: relative;
}

.postIg__marcaAgua {
  width: 100%;
  height: 50px;
  background-color: var(--background-color);
  position: absolute;
  bottom: 0;
  z-index: 1;
}

/* _articleTree Styles */
._articleTree {
  align-items: center;
}

._articleTree__title {
  font-family: var(--displayFont);
  font-size: var(--title-size);
  background-color: var(--lightblue);
  width: fit-content;
  padding: 0 0.5rem;
}

._articleTree__text {
  font-size: var(--text-size);
}

._articleTree__cardsContainer {
  margin-top: 1.5rem;
  justify-content: center;
}

._articleTree__card {
  padding: 1rem;
}

._articleTree__cardWrapper {
  background-color: var(--violet);
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
  transition: all 0.6s;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

._card__descriptionContainer {
  padding: 1rem;
  width: fit-content;
}

._card__titleContainer {
  background-color: var(--orange);
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0.5rem;
  transform: rotate(-6deg);
}

._card__title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--text-size);
  font-family: var(--monoFont);
  letter-spacing: -1px;
  font-weight: 600;
}

._card__text {
  width: fit-content;
  color: var(--white);
}

._card__imgage {
  width: 100%;
}

/* _articleFour Styles */
.orangeTitle {
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--displayFont);
  font-size: var(--title-size);
  padding: 5px 2rem;
  width: fit-content;
  rotate: -6deg;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

._articleFour__impacto {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0 4rem 0;
}

.impacto__bg {
  background-image: url("../IMG/remarcado-circulo-gestual3.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.impacto__number {
  font-family: var(--displayFont);
  font-size: calc(var(--title-size) * 1.5);
  color: var(--orange);
  margin-bottom: -15px;
}

.impacto__text {
  font-size: var(--text-size);
  font-family: var(--secondaryFont);
}

._articleFour__ctaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

._articleFour__ctaButton {
  background-color: var(--violet);
  color: var(--white);
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: center;
  font-weight: 600;
  font-size: var(--text-size);
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

._articleFour__ctaButton:hover {
  color: var(--white);
  opacity: 0.6;
  transition: 0.2s;
}

/* _articleFive Styles */
._articleFive__sheepContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

._articleFive__sheepWrapper {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

._articleFive__sheepImg {
  width: 50vw;
}

/* _articleSix Styles */
._articleSix {
  background-color: var(--white);
  width: 100vw;
  background-image: url("../IMG/testimonios-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  padding: 3rem 0;
}

._articleSix__title {
  font-family: var(--displayFont);
  font-size: var(--title-size);
  background-color: var(--lightblue);
  width: fit-content;
  padding: 0 0.5rem;
}

.card {
  background-image: url("../IMG/testimonio-bg.png");
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: center;
  background-color: transparent;
  border: none;
  height: 70vw;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  width: 70%;
  rotate: -4.5deg;
}

.card-text {
  text-align: center;
  font-size: 14px;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--black);
  opacity: 0.3;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-container {
  max-width: 400px;
  margin-top: 4rem;
  padding: 0 24px;
}

/*******************************************************************/
/* Media Querys - Responsive Breakpoints */
/*******************************************************************/

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for 'xs' since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* _articleTwo Styles */
  .postIg__mobile {
    display: block;
  }
  .postIg__tablet {
    display: none;
  }
  .postIg__desktop {
    display: none;
  }

  /* _articleSix Styles */
  .card {
    height: 40vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* _articleTwo Styles */
  .postIg__mobile {
    display: none;
  }
  .postIg__tablet {
    display: block;
  }
  .postIg__desktop {
    display: none;
  }

  /* _articleTree Styles */
  ._articleTree__cardWrapper {
    flex-direction: row;
  }

  /* _articleSix Styles */
  .swiper-container {
    max-width: 900px;
  }
  .card {
    height: 30vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* _articleOne Styles */
  ._articleOne__text {
    line-height: 2.5rem;
  }

  /* _articleTwo Styles */
  .postIg__mobile {
    display: none;
  }
  .postIg__tablet {
    display: none;
  }
  .postIg__desktop {
    display: block;
  }

  /* _articleTree Styles */
  ._articleTree__cardWrapper {
    flex-flow: column wrap;
  }

  /* _articleFour Styles */
  ._articleFour__impacto {
    gap: 3rem;
  }
  .impacto__bg {
    width: 140px;
  }
  ._articleFour__ctaContainer {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  /* _articleSix Styles */
  ._articleTree__text {
    font-size: 25px;
  }
  .card {
    height: 25vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* _articleOne Styles */
  ._articleOne__text {
    line-height: 2.7rem;
  }

  /* _articleTwo Styles */
  .postIg__mobile {
    display: none;
  }
  .postIg__tablet {
    display: none;
  }
  .postIg__desktop {
    display: block;
  }

  /* _articleFour Styles */
  ._articleFour__impacto {
    gap: 4rem;
  }

  /* _articleSix Styles */
  .swiper-container {
    max-width: 1200px;
  }
  .card {
    height: 20vw;
    max-height: 300px;
  }
}
