.column1 {background-color: rgb(176, 53, 53); grid-column: 1 / 3;}
.column2 {background-color: rgb(44, 139, 58); grid-column: 3 / 13;}
.column3 {background-color: rgb(142, 135, 34); grid-column: 1 / 5;}
.column4 {background-color: rgb(119, 40, 81); grid-column: 5 / 12;}
.column5 {background-color: rgb(206, 108, 108); grid-column: 12 / 13;}
.column6 {background-color: rgb(86, 30, 141); grid-column: 2 / 7;}
.column7 {background-color: rgb(169, 242, 96); grid-column: 7 / 12;}
.column8 {background-color: rgb(59, 30, 34); grid-column: 1 / 2;}
.column9 {background-color: rgb(176, 126, 60); grid-column: 2 / 5;}
.column10 {background-color: rgb(70, 18, 88); grid-column: 5 / 6;}
.column11 {background-color: rgb(145, 135, 135); grid-column: 6 / 10;}
.column12 {background-color: rgb(49, 55, 139); grid-column: 10 / 13;}