.backImg {
  background-image: url("https://i.postimg.cc/2y12mY3S/quienes-somos-1-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: flex-end;
}

.firstSection {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.firstSection__container {
  height: 100px;
  margin-top: 70px;
  width: 95%;
  display: flex;
  justify-content: center;
}

.firstSection__title {
  text-align: center;
  background-color: var(--orange);
  padding: 10px 40px;
  font-family: var(--displayFont);
  width: 100%;
  z-index: 10;
  font-size: var(--title-size);
}

.firstSection__text {
  font-size: var(--text-size);
  font-weight: 600;
}

.firstSection__img {
  width: 80%;
  object-fit: contain;
  border-radius: 5px;
}

.secondSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  gap: 2rem;
}

.secondSection__titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightblue);
  padding: 8px 0;
}

.secondSection__title {
  text-align: center;
  font-family: var(--displayFont);
  font-size: var(--title-size);
  margin: 0;
}

.secondSection__data1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.data1__title {
  width: fit-content;
  padding: 8px 3rem;
  background-color: var(--orange);
  text-align: center;
  color: var(--white);
  font-weight: 600;
  font-size: var(--subtitle-size);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  transform: rotate(-6deg);
  margin-bottom: 2rem;
}

.data1__text {
  font-size: var(--text-size);
  margin-top: 1rem;
}

.data1__imgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data1__img {
  width: 100%;
  max-height: 600px;
  max-width: 500px;
}

._articleTree__card {
  padding: 0rem;
  min-height: 460px;
}

._articleTree__cardWrapper {
  width: 100%;
  height: 100%;
  background-color: var(--violet);
  display: flex;
  flex-direction: column;
  padding: 0;
  transition: all 0.6s;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.eventSwiper {
  padding-inline: 40px;
}

._card__descriptionContainer {
  padding: 1rem;
  width: fit-content;
}

._card__titleContainer {
  background-color: var(--orange);
  width: 100%;
  margin-top: -2rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0rem;
  transform: rotate(-6deg);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

._card__title {
  text-align: center;
  font-size: 18px;
  font-family: var(--displayFont);
}

._card__text {
  width: fit-content;
  margin-bottom: 0;
  color: var(--white);
  min-height: 200px;
  font-size: 14px;
}

._card__imgage {
  width: 100%;
  height: 220px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--white);
  height: 10px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

/* Third section  */
._articleNuestrosEventos {
  margin-top: 50px;
}

.thirdSection__text {
  font-size: var(--text-size);
  font-weight: 400;
  margin-top: 30px;
}

.carousel-control {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  fill: var(--violet);
}

.carousel-indicators {
  display: none;
}

.carousel-control-section {
  width: 5%;
  height: 100%;
  cursor: pointer;
  background-image: url(../IMG/control-btns-bg.png);
  background-size: cover;
  background-position: center;
}

.w-30 {
  width: 30%;
}

/* Fourth section */
.fourthSection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.fourhSection__titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-block: 30px;
  position: relative;
}

.fourthSection__img1 {
  width: 50px;
  height: 60px;
  margin-bottom: 4px;
  position: absolute;
  left: 0;
}

.fourthSection__title {
  flex-grow: 1;
  padding: 10px 20px;
  background-color: var(--violet);
  text-align: center;
  font-family: var(--displayFont);
  color: white;
  font-size: var(--title-size);
}
.divider {
  margin-block: 10px;
  margin-bottom: 40px;
}

.fourthSection__text {
  font-size: var(--text-size);
}

.fourthSection__dataContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin-block: 20px;
  align-items: center;
  justify-content: center;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.data__img {
  width: 50px;
  height: 40px;
  object-fit: contain;
}

.data__desc {
  font-size: var(--text-size);
  text-align: center;
  font-weight: 600;
}

.fourthSection__img2 {
  height: 70px;
  width: 70px;
  object-fit: contain;
  transform: rotate(10deg);
  position: absolute;
  right: 0;
  top: -70px;
}

.fourthSection__subtitle {
  font-size: var(--subtitle-size);
  font-weight: 600;
  color: var(--violet);
  flex-grow: 1;
  text-align: center;
}

.data__title {
  font-size: 17px;
  color: var(--orange);
  font-weight: 600;
}

.data1__subtitle {
  font-size: 17px;
  font-weight: 700;
}

.data__desc1 {
  margin-top: 10px;
  width: 80%;
  text-align: center;
  font-size: var(--text-size);
}

.data__btn {
  background-color: var(--violet);
  color: var(--white);
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: center;
  font-weight: 600;
  font-size: var(--text-size);
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  transition: 0.3s;
}

.data__btn:hover {
  color: var(--white);
  opacity: 0.6;
  transition: 0.5s;
}

.lightViolet {
  padding-block: 50px;
  background-color: var(--white);
}

.gradient {
  padding-block: 50px;

  background: linear-gradient(
    0deg,
    #eee0e8 91.93%,
    rgba(238, 224, 232, 0) 100%
  );
}
.violetBackground {
  background-color: rgba(238, 224, 232, 100);
}
.noBorder {
  border: none;
}
.white {
  background-color: var(--white);
}

.lightblue {
  background-color: var(--lightblue);
  color: var(--black);
}

.aliados__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  min-height: 300px;
}

.aliados__img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.somosParte__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  min-height: 300px;
}

.somosParte__img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.swiper {
  width: 100%;
}

.footerPadding {
  height: 100px;
}

/*******************************************************************/
/* Media Querys - Responsive Breakpoints */
/*******************************************************************/

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for 'xs' since this is the default in Bootstrap */

/********/ /* Small devices (landscape phones, 576px and up) */ /********/
@media (min-width: 576px) {
}

/********/ /* Medium devices (tablets, 768px and up) */ /********/
@media (min-width: 768px) {
  .backImg {
    background-image: url("https://i.postimg.cc/2y12mY3S/quienes-somos-1-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0px;
    height: 70vh;
    display: flex;
    align-items: flex-end;
  }
  .firstSection {
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .firstSection__container1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .firstSection__title {
    font-size: var(--title-size);
  }

  .firstSection__text {
    font-size: var(--text-size);
    text-align: center;
    width: 80%;
    color: var(--white);
  }

  ._articleTree__card {
    padding: 1rem;
  }

  .carousel-control {
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
  }

  .thirdSection__text {
    font-size: var(--text-size);
  }

  .fourthSection__img1 {
    width: 90px;
    height: 90px;
    margin-bottom: 4px;
  }

  .fourthSection__title {
    font-size: var(--title-size);
  }

  .fourthSection__text {
    margin-top: 20px;
    font-size: var(--text-size);
  }
  .fourthSection__dataContainer {
    gap: 40px;
  }
  .data {
    gap: 2px;
  }
  .data__img {
    height: 60px;
    width: 60px;
  }

  .data__desc {
    font-size: calc(var(--text-size) - 2px);
    font-weight: 500;
  }

  .fourthSection__subtitle {
    font-size: var(--subtitle-size);
    font-weight: 700;
  }
  .fourthSection__img2 {
    height: 90px;
    width: 90px;
  }

  .data__title {
    font-size: calc(var(--text-size) + 2px);
  }

  .data1__subtitle {
    font-size: var(--subtitle-size);
    font-weight: 800;
    margin-top: 35px;
  }
  .data__desc1 {
    font-size: calc(var(--text-size) - 2px);
  }

  .data__btn {
    font-size: var(--text-size);
    margin-top: 10px;
    padding-inline: 15px;
  }

  ._card__title {
    font-size: 20px;
  }

  ._card__text {
    width: fit-content;
    margin-bottom: 0;
    color: var(--white);
    min-height: 200px;
    font-size: 17px;
  }

  ._card__imgage {
    width: 100%;
    height: 220px;
  }
}

/********/ /* Large devices (desktops, 992px and up) */ /********/
@media (min-width: 992px) {
  .backImg {
    height: 80vh;
    justify-content: center;
  }

  .firstSection {
    margin-top: 50px;
    flex-direction: row;
    padding-inline: 0px;
    justify-content: center;
    gap: 5px;
  }

  .firstSection__container1 {
    height: 100%;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .firstSection__container {
    height: 140px;
    margin-top: 0px;
    width: 100%;
    padding: 0;
  }

  .firstSection__title {
    margin-right: 20px;
    text-align: center;
    background-color: var(--orange);
    padding: 10px 40px;
    font-family: var(--displayFont);
    width: 90%;
    font-size: var(--title-size);
  }

  .firstSection__text {
    margin: auto;
    font-size: var(--text-size);
    text-align: left;
    line-height: 40px;
    width: 90%;
  }
  .firstSection__imgContainer {
    width: 50%;
  }
  .firstSection__img {
    height: 90%;
    object-fit: contain;
    border-radius: 7px;
  }

  /* Second section */
  .secondSection {
    gap: 0rem;
  }

  .secondSection__data1 {
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
  }

  .data1__container1 {
    width: 50%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .data1__subtitle {
    font-size: 30px;
    font-weight: 800;
    margin-top: 35px;
  }

  .data1__title {
    margin-bottom: 1rem;
  }

  .data1__imgContainer {
    width: 50%;
    height: 600px;
  }

  .data1__img {
    margin-top: 2rem;
    max-width: 600px;
  }

  /* Third section */

  .thirdSection {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 0;
  }
  .thirdSection__text {
    margin-left: 40px;
    width: 90%;
    font-size: 17px;
    font-weight: 400;
  }
  .carousel-control {
    margin-left: 5px;
    height: 50px;
    width: 50px;
  }

  /* FourthSection */
  .fourthSection__img1 {
    height: 120px;
    width: 120px;
  }
  .fourthSection__title {
    font-size: var(--subtitle-size);
  }
  .fourthSection__subtitle {
    font-size: var(--subtitle-size);
  }
  .fourthSection__img2 {
    height: 110px;
    width: 110px;
  }
  .fourthSection__dataContainer {
    padding-inline: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-content: center;
  }

  .data__title {
    text-align: center;
  }

  .data__btn {
    font-size: var(--text-size);
    margin-top: 10px;
    padding-inline: 15px;
  }

  ._card__title {
    font-size: 24px;
  }

  ._card__text {
    width: fit-content;
    margin-bottom: 0;
    color: var(--white);
    min-height: 200px;
    font-size: 19px;
  }

  ._card__imgage {
    width: 100%;
    height: 220px;
  }
}

/********/ /* Extra large devices (large desktops, 1200px and up) */ /********/
@media (min-width: 1200px) {
  .backImg {
    height: 100vh;
  }
  .firstSection__title {
    font-size: var(--title-size);
  }

  .firstSection__text {
    font-size: var(--text-size);
    text-align: left;
    line-height: 40px;
    width: 65%;
    color: #000;
    font-weight: 5700;
    margin: 0;
  }
  .firstSection__imgContainer {
    width: 50%;
  }
  .firstSection__img {
    height: 90%;
    object-fit: contain;
    border-radius: 7px;
  }

  /* Third section */
  .thirdSection__text {
    margin-left: 40px;
    width: 80%;
    font-size: var(--text-size);
    font-weight: 400;
  }
  .carousel-control {
    margin-left: 5px;
    height: 60px;
    width: 60px;
  }

  /* FourthSection */
  .fourthSection__img1 {
    height: 130px;
    width: 130px;
  }
  .fourthSection__title {
    font-size: var(--title-size);
  }
  .fourthSection__subtitle {
    font-size: var(--subtitle-size);
  }
  .fourthSection__img2 {
    height: 130px;
    width: 130px;
  }
  .fourthSection__dataContainer {
    padding-inline: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-content: center;
  }
  .data__img {
    height: 80px;
    width: 80px;
  }
}
