/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Variables */
:root {
    /* Colors */
    --background-color: #f7edda;
    --orange: #f17a5e;
    --violet: #7b3b8b;
    --lightblue: #41d5b8;
    --white: #fff;

    /* Fonts */
    --mainFont: "Montserrat", sans-serif;
    --secondaryFont: "Ubuntu", sans-serif;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

header,
footer {
    background-color: var(--background-color);
    padding: 1rem 2rem;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}

header div,
header nav,
article,
footer section {
    /* border: solid 2px #000; */
    border-radius: 15px;
    margin: 1rem 0;
    padding: 1rem 2rem;
}
footer{
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.25);
}
.noPadding {
    padding: 0;
}

@media (max-width: 1000px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    footer {
        width: 100vw;
    }

    .row {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: 0 !important ;
        margin-left: 0 !important ;
    }
}
